@CHARSET "ISO-8859-1";

nav.navbar {
	margin-bottom: 30px;
}

div.btn-container {
	margin: 15px;
}

div.job-listing-preview {
	white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

form.form-btn-container {
	display:inline;
}