@CHARSET "ISO-8859-1";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #e7e7e7;
}

nav.navbar {
	margin-bottom: 30px;
}

div.btn-container {
	margin: 15px;
}

div.job-listing-preview {
	white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

form.form-btn-container {
	display:inline;
}

.top-button {
	margin-bottom:10px;
}
